//just to test for less compilation
@nice-blue: #5B83AD;

.container{
    display:flex;
    flex-direction: column;
    width:404px;

    .card{
        background-color:#e3e3e3;
        width: 100%;
        height: 150px;
        font-family: sans-serif;
        margin-top: 1em;
        box-shadow: 5px 5px 13px lightgrey;

        .card_title{
            font-size: 1.2em;
            width: 100%;
            text-align: center;
            padding:.5em 0;
            color:@nice-blue
        }

        .card_content{
            padding:1em;
        
            textarea{
                background: transparent;
                width: 100%;
                height: 100%;
                border: 0px;
            }
        }

        .card_edit{
            float:right;

            &:hover{
                cursor:pointer
            }
        }
    }
}

